nav.stickynav {
   position: absolute;
   border: 1px solid #E7E7E7;
   height: 100%;
   overflow: auto;
}

.wy-nav-content-wrap {
    background: #FFF;
    height: 100%;
    width: 900px;
}

.wy-side-nav-search {
   background: #F6F6F6;
}
.wy-side-nav-search input[type=text] {
    width: 100%;
    /*border-radius: 50px;*/
    /*padding: 6px 12px;*/
    border: 0px;
    padding-left: 40px;
    font-family: OpenSans-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.wy-side-nav-search .search-bar{
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    line-height: 22px;
}

.wy-side-nav-search  .btn-search {
	 display: inline-block;
    position: absolute;
    top: 25px;
    margin-top: -2px;
    left: 25px;
}
.wy-nav-side {
   background: #FFF;
}




/*  首页  */
.home-index .wrapper {
  top: 60px;
}
.home-index .wrapper .main {
  margin-top: 30px;
  height: 1890px;
}
.home-index .wrapper .main .left-sideBar {
  width: 230px;
}
.home-index .wrapper .main .sidebar_right {
  margin-left: 30px;
  width: 940px;
}
.home-index .wrapper .main .sidebar_right .item {
  width: 100%;
  clear: both;
  padding-top: 30px;
}
.home-index .wrapper .main .sidebar_right .item .title {
  font-family: OpenSans-Bold;
  font-size: 24px;
  color: #707070;
  margin: 0px;
}
.home-index .wrapper .main .sidebar_right .item .list {
  margin-right: 30px;
  height: 140px;
  width: 440px;
  border-bottom: 2px solid #E7E7E7;
  margin-top: 15px;
}
.home-index .wrapper .main .sidebar_right .item .list .p-img {
/*  height: 120px;
  object-fit: cover;*/
  width: 120px;
}
.home-index .wrapper .main .sidebar_right .item .list .desc {
  width: 320px;
}
.home-index .wrapper .main .sidebar_right .item .list .desc .p-title {
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 0px;
}
.home-index .wrapper .main .sidebar_right .item .list .desc .see-more {
  position: absolute;
  top:0px;
  right: 0px;
}

.home-index .wrapper .main .sidebar_right .item .list .desc .see-more a{
  font-size: 12px;
  color: #4a4a4a;
  cursor: pointer;
}
.home-index .wrapper .main .sidebar_right .item .list .desc .see-more a:hover{
  text-decoration: underline;
}


.home-index .wrapper .main .sidebar_right .item .list .desc .keyword {
  margin-top: 10px;
}

.home-index .wrapper .main .sidebar_right .item .list .desc .keyword .p-text {
  font-size: 12px;
  margin: 0px;
  width: 50%;
  cursor: pointer;
  color: #0D926E;
}

.home-index .wrapper .main .sidebar_right .item .list .desc .keyword .p-width{
   width: 100%;
}

.home-index .wrapper .main .sidebar_right .item .list .desc .keyword .p-text a{
  color: #0D926E;
}

.home-index .wrapper .main .sidebar_right .item .list .desc .keyword .p-text a:hover{
  text-decoration: underline;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 50px;
    bottom: 50px;
    width: 40px;
    z-index: 3;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #dfdfdf;
    transition: all 0.5s;
}
.back-to-top:hover {
    background-color: #0d926e;
}


/*
  左边
 */

.wy-menu-vertical li.current .sub-title{
   font-family: OpenSans;
    font-size: 12px;
    color: #4A4A4A;
    line-height: 27px;
    background: #f9f9f9;
    padding-left: 50px;
}

.wy-nav-content  a{
  color: #2980b9;
}


/**
 * 新增折叠功能
 * by longfei
 * @2016-12-02
 */
.wy-menu-vertical .main-title{
  background: #F7F7F7;
  line-height: 40px;
  padding: 0px;
  padding-left: 17px;
  font-size: 16px;
  color: #000000;
  border-top: 1px solid #dfdfdf;
}
.wy-menu-vertical .main-title:last-child{
  border-bottom: 1px solid #dfdfdf;
}
.wy-menu-vertical .nav-item-title{
  background: #fff;
  line-height: 40px;
  padding: 0px;
  padding-left: 20px;
  font-size: 14px;
  color: #000000;
}
.wy-menu-vertical .b-hide{
  display: none;
}
.wy-menu-vertical .manipulate{
  position: absolute;
  top: 0px;
  right: 10px;
  line-height: 41px;
  font-size: 14px;
  color: #000000;
}
.m_header {
  display: none;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index:6;
}
.m_header .logo{
  margin: 20px 0px;
}
.m_header .nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 18px 20px;
}
.m_header i {
  color: #000;
  font-size: 20px;
}
.m_header .search {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px 20px;
}

/*
 * 搜索
 */
.m_header .search-wrap {
  display: none;
  width: 100%;
}
.m_header .search-wrap .cover {
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #000;
}
.m_header .search-wrap .searchBar {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  background: #fff;
  height: 60px;
}
.m_header .search-wrap .searchBar .searchIocn {
  line-height: 60px;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #00946c;
}
.m_header .search-wrap .searchBar .searchInput {
  font-size: 16px;
  color: #3c3c3c;
  line-height: 30px;
  width: 12rem;
   padding: 0px;
  border: 0px;
  box-shadow: none;
}
.m_header .search-wrap .searchBar .search-close {
  padding: 1rem;
  font-size: 14px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0px;
}

/*
 * 图片
 */
.wrapper .banner .category-goods-cover{
   padding-bottom: 40%;
   background-size: cover;
   background-position: 50%;
   display: none;
}
/**
 * 底部
 */
.m-footer{
  padding: 20px;
  background: #f9f9f9;
}

/**
 * 分类页 
 */
.wike-content{
  background: #fff;margin: 0 auto;
  max-width: 1200px;
  position: absolute;
  z-index: 0;
  height: 88%;
  top: 61px;
}





/**
 * 移动端
 */
@media only screen and (max-width: 568px) {
  /**
   * 首页
   */
   .header{
     display: none;
   }
   .m-hide{
     display: none!important;
   }
   .m-show{
     display: block!important;
   }
   .m_header {
    display: block;
   }
   .home-index .wrapper .main .left-sideBar {
      display: none;
   }
   .home-index .wrapper .main .sidebar_right {
      margin: 0px;
      width: 100%;
   }
   /*
    * 内容展示
    */
   .home-index .wrapper .main{
     margin-top: 20px;
     height: 1750px;
   }
   .home-index .wrapper .main .sidebar_right .item .title{
     margin-left: 10px;
     font-size: 20px;
     border-bottom: 1px solid #DFDFDF;
     margin-right: 10px;
     padding-bottom: 10px;
     margin-bottom: 10px;
   }
   .home-index .wrapper .main .sidebar_right .item .list {
      width: 50%;
      text-align: center;
      padding: 0px;
      margin: 0px;
      border-bottom:0px;
   }
   .home-index .wrapper .main .sidebar_right .item .list .p-img{
      text-align: center;
      margin: 0 auto;
      float: none;
   }
   .home-index .wrapper .main .sidebar_right .item .list .desc{
      width: 100%;
   }
   .home-index .wrapper .main .sidebar_right .item .list .desc .p-title a{
      font-size: 14px;
      color: #00946C;
   }
   .home-index .wrapper .main .sidebar_right .item{
      padding-top: 10px;
   }
   /**
    * 底部
    */
   .m-footer .description{
     font-size: 14px;
     color: #3c3c3c;
     line-height: 20px;
     margin: 0;
   }
   .back-to-top{
     right: 16px;
   }
   /**
    * 主要内容
    */
   .wy-nav-content-wrap{
      margin:0px;
      width:100%;
   }
   .wike-content{
     width: 100%;
   }
   .wy-nav-content {
     padding: 10px 15px;
   }
   .wy-nav-side {
     display: none;
     width: 100%;
   }
   .wy-nav-content ul,.wy-nav-content{
    font-size: 16px;
   }
   .wy-nav-content table{
    font-size: 16px;
   }


}